<!DOCTYPE html>

<head>
    <title>En Vue.js App</title>
</head>

<body>

    <style>
    [v-cloak] { display:none; }
    </style>

    <div id="app">
        <input type="email" v-if="visible" v-model="email" > <!-- direktiv -->
        <p v-else v-cloak>Tack för att du fyllde i formuläret</p> <!-- conditional -->
        <!-- events med v.on:click, shorthand @click-->
        <button @click="visaEmail">Submit</button>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
   
    var vm = new Vue({
        el: '#app',
        data: { 
            email: "email@.com", //2-way bound (form)
            visible: true,   //vm.visible i konsolen
            counter: 0
        },
        methods:{
            visaEmail: function(){
                alert("Din email är: " + this.email)
            }
        }
    });
</script>

</html>